.fondo-navbar {
  background-color: #d9c9c7 !important;

  .color-navbar a {
    font-family: Montserrat !important;
    font-size: 13pt !important;
  }
  
  .color-title{
    color: black !important;
  }
}
