// breakpoints
$mobile: 991px;
$desktop: 992px; 

//tamaño tipografía
$tam-textos: 12pt;
$tam-subtitulos: 15pt;
$tam-titulos: 17pt;
$tam-grande: 22pt;

//tipografía
$tipografia-principal: Montserrat;
$tipografia-banner: Prata


