@import "navbar";
@import "footer";
@import "variables";
@import "mixins";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn-next-previous {
  display: none;
}

.carousel-caption {
  font-family: "Montserrat";
  color: black !important;

  .tit-banner-index {
    font-size: $tam-titulos;
    font-weight: bold;
  }
  .sub-banner-index {
    display: none;
    font-size: 15;
  }
}

.servicios-index {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2 1fr);
  grid-template-areas:
    "caja1 caja2"
    "caja3 caja4";

  .caja1 {
    grid-area: caja1;
  }

  .caja2 {
    grid-area: caja2;
  }

  .caja3 {
    grid-area: caja3;
  }

  .caja4 {
    grid-area: caja4;
  }

  .img-servicios {
    width: 100%;
  }
}

.caja-quiensoy {
  margin: 5% 10%;

  #caja-quiensoy {
    display: inline-block !important;
  }

  #img-iara {
    display: block !important;
    margin: auto !important;
  }

  #texto-quiensoy {
    font-family: Montserrat;
    padding-top: 3% !important;
  }
}

.newsletter {
  background-color: #111a67;
  margin-top: 0.5%;
  padding-left: 7%;
  padding-top: 5%;
  padding-bottom: 5%;

  .titulo-newsletter {
    font-family: "Montserrat";
    font-size: $tam-titulos;
    font-weight: bold;
    color: white;
  }

  .texto-newsletter {
    font-family: "Montserrat";
    font-size: $tam-textos;
    color: white;
  }
}

div {
  position: relative;

  .titulo-servicio-index {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 3%;

    p {
      font-family: Montserrat;
      font-size: $tam-grande;
    }
  }
}

@media screen and (min-width: $desktop) {
  .carousel-caption {
    p {
      display: inline !important;
    }
  }

  .servicios-index {
    display: flex;
    flex-direction: row;

    .img-servicios {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Contacto */

.banner-contacto {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: Montserrat;
    font-size: 30pt;
    color: black;
    padding: 10px;
  }
}

.contacto {
  text-align: left;
}

.titulo-formcontacto {
  font-family: Montserrat;
  font-size: 18pt;
  color: black;
  text-align: left;
  padding-top: 30px;
}

.subtitulo-formcontacto {
  font-family: Montserrat;
  font-size: $tam-subtitulos;
  color: black;
  text-align: left;
}

div {
  .form-etiqueta {
    font-family: Montserrat;
    font-size: $tam-textos;
    color: black;
    text-align: left;
  }
}

div {
  .btn-enviar {
    background-color: #111a67;
    font-family: Montserrat;
    font-size: $tam-textos;
    color: white;
  }

  .btn-enviar:hover {
    background-color: #1d3496;
    color: white;
  }

}

.term-cond {
  margin: 5% auto 3% auto;

  hr {
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
  }

  p {
    font-family: Montserrat;
    font-size: $tam-textos;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: $mobile) {
  .banner-contacto {
    background-image: url(../img/contacto_fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .img-oculta {
    display: none;
  }
}

/* Branding */

.container-banner-branding {
  background-color: #d9c9c7;

  .texto-branding {
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: Montserrat;
      font-size: $tam-grande;
      color: black;
    }
  }

  .img-banner-branding {
    width: 100vw;
  }
}

.all-branding {
  margin: 3% 0%;

  h4 {
    font-family: Montserrat;
    font-size: $tam-subtitulos;
    line-height: 1.5;
    word-spacing: 1px;
    color: black;
    padding: 30px;
  }

  .margin-flex-branding {
    margin: 2%;

    .container-objetivos-branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 7%;
      padding-right: 7%;

      h5 {
        text-align: center;
        font-family: Montserrat;
        font-size: $tam-subtitulos;
        padding: 15px;
        color: black;
      }

      p {
        font-family: Montserrat;
        font-size: $tam-textos;
        color: black;
      }
    }

    .img-inicio {
      display: block;
      margin: auto;
      width: 300px;
      height: auto;
      border-radius: 10px;
      padding: 10px;
      border: black 1px solid;
    }
  }

  .bg-identidad-branding {
    background-color: #efe0df;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    p {
      text-align: center;
      line-height: 1.5;
      font-family: Montserrat;
      font-size: $tam-subtitulos;
      color: black;
    }
  }

  .margin-incluye {
    margin: 7% 20% 4% 20%;

    .incluye-branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h5 {
        text-align: left;
        line-height: 1.5;
        font-family: Montserrat;
        font-size: $tam-grande;
        font-weight: bold;
        color: black;
      }

      p {
        text-align: left;
        line-height: 1.5;
        font-family: Montserrat;
        font-size: $tam-textos;
        color: black;
        line-height: 30px;
        padding-top: 10px;
      }

      ul {
        li {
          text-align: left;
          line-height: 40px;
          font-family: Montserrat;
          font-size: $tam-textos;
          color: black;
        }
      }
    }
  }

  .line-incluye {
    color: black;
    margin: 10px;
  }

  .container-desarrollemos {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-areas:
      "titulo-desarrollemos"
      "subtitulo-desarrollemos"
      "img-desarrollemos";
    margin: 0% 10% 0% 10%;

    .titulo-desarrollemos {
      grid-area: titulo-desarrollemos;
      font-family: Montserrat;
      font-size: $tam-titulos;
      color: black;
      font-weight: bold;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-left: 10%;
      padding-right: 10%;
    }

    .subtitulo-desarrollemos {
      grid-area: subtitulo-desarrollemos;
      font-family: Montserrat;
      font-size: $tam-textos;
      color: black;
      text-align: center;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-left: 10%;
      padding-right: 10%;
    }

    .img-desarrollemos {
      display: block;
      margin: auto;
      width: 240px;
      height: auto;
      border-radius: 10px;
      padding: 10px;
      border: black 1px solid;
    }
  }

  .etapas {
    margin-top: 3%;
    margin-bottom: 3%;

    .container-etapas {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3%;

      .titulo-etapa {
        font-family: Montserrat;
        font-size: $tam-titulos;
        color: black;
        font-weight: bold;
        padding: 5%;
      }

      .descripcion-etapa {
        text-align: left;
        line-height: 40px;
        font-family: Montserrat;
        font-size: $tam-textos;
        color: black;
      }
    }

    #v-mobile-etapas {
      flex-direction: row-reverse;
    }

    #v-mobile-etapas2 {
      flex-direction: row-reverse;
    }
  }

  .bg-etapas1 {
    background-color: #d9d5d2;
  }

  .bg-etapas2 {
    background-color: #d9c9c7;
  }

  .bg-etapas3 {
    background-color: #e6d5d3;
  }

  .bg-etapas4 {
    background-color: #bfb2b0;
  }

  .flex-container-planes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;

    .titulo-planes {
      font-family: $tipografia;
      font-size: $tam-titulos;
      font-weight: bold;
      text-align: center;
      color: black;
    }

    .subtitulo-planes {
      font-family: $tipografia;
      font-size: $tam-subtitulos;
      text-align: center;
      color: black;
    }

    .caja-planes {
      margin: 2%;
      background: #e6d5d3;
      border-radius: 15px;
      width: 600px;
      height: 300px;
      font-family: $tipografia;
      font-size: $tam-subtitulos;
      text-align: center;
      color: black;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .contenido-planes {
        padding: 10%;
        font-family: $tipografia;
        font-size: $tam-subtitulos;
        text-align: center;
        color: black;
        font-size: $tam-textos;
        font-weight: lighter;
      }

      .form-etiqueta {
        font-family: Montserrat;
        font-size: $tam-textos;
        color: black;
        text-align: left;
      }
    }
    .btn-enviar {
      padding: 7px 15px;
      background-color: #111a67;
      font-family: Montserrat;
      font-size: $tam-textos;
      color: white;
    }

    .btn-enviar:hover {
      background-color: #1d3496;
      color: white;
    }
  }
}

@media screen and (min-width: $desktop) {
  .container-banner-branding {
    background-image: url(../img/branding_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }

  .img-banner-branding {
    display: none;
  }

  .container-etapas {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #v-mobile-etapas {
    flex-direction: column-reverse;
  }

  #v-mobile-etapas2 {
    flex-direction: column-reverse;
  }

  .container-desarrollemos {
    display: grid;
    grid-template-columns: repeat(2 1fr) !important;
    grid-template-rows: repeat(2 1fr) !important;
    grid-template-areas:
      "img-desarrollemos titulo-desarrollemos"
      "img-desarrollemos subtitulo-desarrollemos" !important;

    .titulo-desarrollemos {
      grid-area: titulo-desarrollemos;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    .subtitulo-desarrollemos {
      grid-area: subtitulo-desarrollemos;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .img-desarrollemos {
      grid-area: img-desarrollemos;
    }
  }
}

/* Blog */

.banner-blog {
  background-image: url(../img/blog_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  .titulo-blog {
    font-family: Montserrat;
    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
  }
}

.line-blog {
  margin: 5%;
}

.grilla-blog {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container-posteos {
    margin-left: 10%;
    margin-right: 10%;

    .titulo-p {
      font-family: Montserrat;
      font-size: $tam-subtitulos;
      font-weight: bold;
      color: black;
    }

    .resumen-p {
      font-family: Montserrat;
      font-size: $tam-textos;
      color: black;
    }

    .btn-p {
      background-color: #111a67;
      color: white;
      font-family: Montserrat;
      font-size: 10pt;
      padding: 7px 10px;
      border-radius: 10px;
      margin-left: 40%;
    }
  }
  .caja-aside {
    .img-aside {
      float: right;
      width: 300px;
      height: auto;
    }
  }
}

.newsletter {
  background-color: #111a67;
  margin-top: 0.5%;
  padding-left: 7%;
  padding-top: 5%;
  padding-bottom: 5%;

  .titulo-newsletter {
    font-family: "Montserrat";
    font-size: $tam-titulos;
    font-weight: bold;
    color: white;
  }

  .texto-newsletter {
    font-family: "Montserrat";
    font-size: $tam-textos;
    color: white;
  }
}

@media screen and (min-width: $desktop) {
  .grilla-blog {
    display: grid !important;
    grid-template-columns: 1/2fr 2fr 1fr !important;
    grid-template-rows: repeat(6, 1fr) !important;
    gap: 10px;
    grid-template-areas:
      "caja-img1 caja-posteo1 caja-aside1"
      "caja-img2 caja-posteo2 caja-aside1"
      "caja-img3 caja-posteo3 caja-aside1"
      "caja-img4 caja-posteo4 caja-aside2"
      "caja-img5 caja-posteo5 caja-aside2"
      "caja-img6 caja-posteo6 caja-aside2" !important;

    .caja-img1 {
      grid-area: caja-img1;
    }

    .caja-posteo1 {
      grid-area: caja-posteo1;
    }

    .caja-aside1 {
      grid-area: caja-aside1;
    }

    .caja-img2 {
      grid-area: caja-img2;
    }

    .caja-posteo2 {
      grid-area: caja-posteo2;
    }

    .caja-img3 {
      grid-area: caja-img3;
    }

    .caja-posteo3 {
      grid-area: caja-posteo3;
    }

    .caja-aside2 {
      grid-area: caja-aside2;
    }
    .caja-img4 {
      grid-area: caja-img4;
    }

    .caja-posteo4 {
      grid-area: caja-posteo4;
    }

    .caja-img5 {
      grid-area: caja-img5;
    }

    .caja-posteo5 {
      grid-area: caja-posteo5;
    }

    .caja-aside3 {
      grid-area: caja-aside3;
    }

    .caja-img6 {
      grid-area: caja-img6;
    }

    .caja-posteo6 {
      grid-area: caja-posteo6;
    }

    .container-posteos {
      margin: 2%;
    }

    .img-posteos {
      width: 250px;
      height: auto;
    }
  }
}

/* Social Media Manager */

.banner-socialmedia {
  background-image: url(../img/social_media_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .titulo-socialmedia {
    background-color: #e6d5d3;
    width: 100%;
    font-family: $tipografia;
    font-size: $tam-grande;
    color: black;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.flex-estrategia {
  display: flex;
  flex-direction: column;
  margin: 5% 8%;

  .cajaA-estrategia {
    text-align: center;
    margin: 0 5%;

    .titulo-estrategia {
      font-family: $tipografia;
      font-size: $tam-titulos;
      color: black;
      text-align: center;
      font-weight: bold;
    }
  }

  .cajaB-estrategia {
    font-family: $tipografia;
    font-size: $tam-textos;
    color: black;
  }
}

.bg-desenfocado {
  background-image: url(../img/social_media_desenfocada.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titulo-desenfoque {
    font-family: $tipografia;
    font-size: $tam-titulos;
    color: black;
    text-align: center;
    font-weight: bold;
  }

  .subtitulo-desenfoque {
    font-family: $tipografia;
    font-size: $tam-subtitulos;
    color: black;
    text-align: center;
    line-height: 1.5;
    padding-left: 3%;
    padding-right: 3%;
  }
}

.info-ppal-plan {
  font-family: $tipografia;
  font-size: $tam-subtitulos;
  color: black;
  text-align: center;
  padding: 3%;
}

.info-plan {
  font-family: $tipografia;
  font-size: $tam-textos;
  color: black;
}

.margin-caja {
  margin-top: 2%;
}

.line-smm {
  margin: 2% 5%;
}

.preg-frec {
  margin: 2% 0;
  font-family: $tipografia;
  font-size: $tam-subtitulos;
  letter-spacing: 1px;
  color: black;
}
.accordion {
  font-family: $tipografia !important;
  color: black !important;
  font-size: $tam-textos !important;
  margin: 0% 10% 5% 10%;
}

.bg-accordion {
  background-color: #e6d5d3 !important;
  color: black !important;
}

.flex-smm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 7%;
}

.CTA-smm{
  font-family: $tipografia;
  font-size: 14pt;
  color: black;
  text-align: center;
}

@media screen and (min-width: $desktop) {
  .flex-estrategia {
    display: flex;
    flex-direction: row;
    margin: 5% 8%;
  }
}
